body{
    background-color: #08aa81
}
.container {
    font-family: Arial, Helvetica, sans-serif;
    height: 900px;
    width: 900px;
    text-align: center;
    background-color: #ffffff;
    padding: 10px 50px 50px 50px;
    margin: 0 auto;
   
}
#title {
    width: 900px;
    height: 100px;

}

form{
    text-align:left;
}
p {
    margin-top: 25px;
    font-size: 30px;
}
#lineTop {
    font-size: bold;
}